*
!.gitignore
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
build-testing/
.idea/
.vscode/
.DS_Store
/*.log
/bootstrap/cache/*.php
/config/telescope.php
/public/build